@import url(/css/normalize.css);
@import url(/css/header.css);
@import url(/css/main-container.css);
@import url(/css/menu-bar.css);
@import url(/css/Footer.css);
@import url(/css/test-page.css);
@import url(/css/feeds.css);
@import url(/css/comment.css);
@import url(/css/team.css);
@font-face {
  font-family: "Roboto-Bold";
  src: url(/fonts/Roboto-Bold_1.ttf); }

@font-face {
  font-family: 'Roboto-Light';
  src: url(/fonts/Roboto-Light_1.ttf); }

@font-face {
  font-family: 'Roboto-LightIt';
  src: url(/fonts/Roboto-LightItalic_1.ttf); }

@font-face {
  font-family: "Roboto-Reg";
  src: url(/fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto-Med';
  src: url(/fonts/Roboto-Medium.ttf); }
