$blu1: #4b73b5;
$black: black;


.menu {
  width: 200px;
  position: relative;
  top: 22px;
}

.menu__list {
  padding-left: 17px;
  //line-height: 3.6;  
  font-family: 'Roboto-Bold';
  font-size: 12px;
}

.menu a {
  color: $blu1;
  
}

.transit {
  padding-left: 13px;
  letter-spacing: 2px;
}

.menu__items {
  display: flex;
  margin-bottom: 9px;
  //position: relative;
  height: 40px;
  align-items: center;
}


.icon {
  display: block;
  position: relative;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
}

.menu__icon {
  width: 30px;
}

.menu__list li:hover  {
   .icon {
      display: none;
  }
  .icon-select {
      display: block;
      position: relative;
  height: 18px;
  margin-left: auto;
  margin-right: auto;
  }
  a {
      color: $black;
      //padding-left: 22px;
  }
  
}